body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #b2d8b8, #f0f8f0);
    height:100vh;
    color: #333;
    margin-left: 13;
    margin-top: 0;
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: white ;
}

table td:nth-child(2) {
    width: 180px;
}

.dropdown {
    margin-bottom: 20px;
}

.attendance-table {
    display: none;
}

.topnav {
    background-color: #95b89b;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    padding: 0;
    width: 100%;
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #435c47;
    display: flex;
    align-items: center;
}

.topnav p {
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}
